<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/logo.png" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Support for starting a business</ion-card-subtitle>
      <ion-card-title>The Trust Community</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        The Trust Community, is a platform that connects young people together with varified mentors and the buddy to encourage a collaborative network that aims to grow successful business and startups.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-content>
      <p>
        Got a business in mind or want to explore an idea? From training and mentoring support to funding and resources, we're here to help you become the best entrepreneur you can be. Our free Enterprise programme takes place in a centre near you and is broken down into three stages. If you’d prefer to learn flexibly with online mentor support, sign up to Enterprise Online.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      What’s involved in Enterprise?
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="information-circle-outline" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Stage 1</h2>
        <h3>Info session</h3>
        <p>Our programme kicks off with a free information session in your local area. We'll tell you how we can support you and, if you're still keen, we'll also invite you onto our four-day interactive workshop.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="people" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Stage 2</h2>
        <h3>Workshop</h3>
        <p>Over four days you'll get to meet other like-minded people. You'll also have the chance to tap into a business adviser, covering everything from business planning and marketing to sales, budgeting and tax.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="build" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Stage 3</h2>
        <h3>Build your business</h3>
        <p>After the workshop it's time to start building your business. We'll provide a mentor to support you as you plan and test your ideas. You'll even have the opportunity to apply for funding.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="rocket" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Stage 4</h2>
        <h3>Launch</h3>
        <p>Before launch, you'll present your business plan to our Business Launch Group. Their job is to ensure your idea is viable and sustainable. Don’t worry, there are no dragons here. It’s designed to be a positive experience for you – and to ensure there are no weak points in your plan. There’s also additional start-up finance support if you need it. You can find out how this works here.</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
